<br />
@if (Saving)
{
    <div>
        <p>One Moment Please...</p>
    </div>
}
else
{
    <div>
        <button type="submit" class="btn btn-primary" onmousedown="@ToggleSaving()">@SaveButtonText</button>
    </div>
}
<br />

@code {

    [Parameter]
    public bool Saving { set; get; } = false;

    [Parameter]
    public string SaveButtonText { set; get; }

    private bool ToggleSaving()
    {
        Saving = !Saving;
        return false;
    }
}
